{% extends "base.html" %}
    {% block title %} Cheese Lists {% endblock title %}
    {% block content %}
        <h1>Cheese List</h1>
        <ul>
            {% for cheese in cheese_list %}
                <li><a href="#TODO">{{cheese.name}}</a></li>
            {% endfor %}
        </ul>
        <hr/>
        <p>Don't see a cheese listed here?</p>
        <p>
            <a class="btn btn-primary"
                    href="{%  url 'cheeses:add' %}" role="button">
                Add Cheese
            </a>
        </p> 
    {% endblock content %}
       
